# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
*.log
.dockerignore

# IDEs
.vscode/
.idea/
